<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Épices du Maroc{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
<header>
    <!-- Navbar principale -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('homepage') }}">Épices du Maroc</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('homepage') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('epicepage') }}">Épices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('herbepage') }}">Herbes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('recettespage') }}">Recettes</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_recettes') }}">Tableau de bord</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('recette_new') }}">Ajouter une Recette</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <style>
        .navbar {
            background-color: #f8f9fa!important; /* Un fond clair mais personnalisé */
            box-shadow: 0 2px 4px rgba(0,0,0,.1); /* Ajouter une ombre pour un effet de profondeur */
        }
        .navbar-brand, .nav-link {
            color: #131313 !important; /* Couleur personnalisée pour les liens */
        }
        .nav-link {
            transition: color 0.2s; /* Transition douce pour le hover */
        }
        .nav-link:hover, .nav-link:focus {
            color: #018a0c !important; /* Changement de couleur au survol */
        }
        .navbar .dropdown-menu {
            border-radius: 0.25rem;
            border: none;
            box-shadow: 0 4px 8px rgba(0,0,0,.1); /* Ombre pour le dropdown */
        }
    </style>
</header>

{% block body %}{% endblock %}

<footer>
    {# Contenu du pied de page ici #}
</footer>

{{ encore_entry_script_tags('app') }}
</body>
</html>
